.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--text-color-theme-dark);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.1);
    }
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

/* Форма для відсилання контактів */

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-text {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color-text);
}

.contact-form-field {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-color-text);
}

.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.contact-form-input-box {
    position: relative;
    margin-bottom: 10px;
}

.contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form-input:focus+& {
        fill: var(--accent-color);
    }
}

.contact-form-comments {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.contact-form-checkbox-label {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);

    &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 15px;
        border: 2px solid var(--primary-color-text);
        margin-right: 9px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .contact-form-checkbox-input:focus+& {
            border-color: var(--accent-color);
        }
        
        .contact-form-checkbox-input:checked+& {
            background-image: url(../image/icon-check.svg);
            background-color: var(--accent-color);
            border-color: var(--accent-color);
        }
    }
}

.form-policy-link {
    color: var(--accent-color);
}
