.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header__logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header__logo_theme_light {
    color: var(--primary-color-text);
}

// ============= 768+ =============

@media screen and (min-width: 768px) {
    .header__logo {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

// ============= 1200+ =============

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.19;
    }

    .header__logo {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

// .footer__logo {
//     display: block;
//     margin-bottom: 20px;
// }

// .footer__logo_theme_dark {
//     color: var(--text-color-theme-dark);
// }