:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-color-text: #212121;
    --secondary-color-text: #757575;
    --text-color-theme-dark: #ffffff;
    --accent-color: #2196F3;
    --primary-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --border-color-header: #ECECEC;
    --logo-color: #afb1b8;
}

